<div class="navbar">
    <div class="logo">
        <i class="fa-solid fa-cloud-sun"></i>
    </div>
    <!-- Hamburger Menu -->
    <div class="hamburger" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <!-- Navbar Menu -->
    <div class="menu">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/weather">Weather</a>
    </div>
</div>