<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        .image img {
            width: 100%;
            height: 100%;
            animation: scale 4s ease-in-out infinite;
        }

        .image {
            height: 450px;
            max-width: 600px;

        }

        @keyframes scale {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.05);
            }

            100% {
                transform: scale(1);
            }
        }

        .about {
            width: 670px;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .about a {
            margin-top: 50px;
        }

        .about p {
            font-size: 18px;
        }

        .container {
            font-family: poppins;
            display: flex;
            justify-content: center;
            gap: 100px;
            align-items: center;
            height: 100%;
            flex-wrap: wrap;
        }
    </style>

</head>

<body>
    {{>header}}
    <div class="container">
        <div class="image"><img
                src="https://img.freepik.com/free-vector/fall-is-coming-concept-illustration_114360-1318.jpg?t=st=1734173338~exp=1734176938~hmac=10f4b2202a272d52e8d54980cfb4275bb47d58beb75c861b9248cc809754be3f&w=740"
                alt=""></div>
        <div class="about">
            <h1 style="font-weight: bold;">I am a <span>Mern Stack Developer</span> </h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde est officia voluptates provident odio
                eligendi
                sunt voluptatum cumque, expedita</p>
            <a href="">ABOUT ME</a>
        </div>
    </div>
    {{>footer}}
    <script>
    function toggleMenu() {
      const navbar = document.querySelector('.navbar');
      navbar.classList.toggle('open');
    }
  </script>

</body>

</html>